
<section class="hero is-success">
  <div class="hero-body">

    <div class="columns">
      <div class="column"><p id="attention">NFT Project's Hub</p><br><br>
        <a id="projectInfoLink" href=""></a> <br/> <br/><br/>
        <a id="ProjectInfoLinkMember" href="#">Interstellar Travelers Rebel Club <i class="fas fa-check-circle"></i></a><br/> <br/>
        <a id="ProjectInfoLinkMember" routerLink="/catz-nft">CaptivatingCatz ( In Production ) <i class="far fa-circle"></i></a>  <br/>  <br/>
        <a id="ProjectInfoLinkMember" href="#">CodeMonkeys ( Not Started ) <i class="far fa-circle"></i></a>  <br/>  <br/>



      </div>
      <div class="column">
        <iframe id="PromoVideo" width="640" height="415" src="../assets/videos/CaptivatingCatzPromo.mp4"></iframe></div>
      <div class="column">

        <p id="galleryOfLinks">Gallery of Links</p><br/><br/><br/>
        <a id="galleryOfLinksMember" href="#">Magic Eden</a><br/><br/>
        <a id="galleryOfLinksMember" href="#">Digital Eyes</a><br/><br/>
        <a id="galleryOfLinksMember" href="#">Gallery</a><br/><br/>
        <a id="galleryOfLinksMember" href="#">Digital Asset Observatory</a><br/><br/>
        <a id="galleryOfLinksMember" href="#">Blog</a><br/><br/>
      </div>
    </div>

    <div class="columns is-gapless">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>




  </div>
</section>
