<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img class="brand" src="../../assets/images/catzlogo.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <a class="navbar-item">
        Catz Clowder
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Social Media Links
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Youtube
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Kick
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Twitter
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Tik-Tok
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Facebook
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Discord
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button discordBtn">
            <strong></strong>
          </a>
     <!--     <a class="button is-light mintBtn" routerLink="/mint">            Mint          </a> -->
        </div>
      </div>
    </div>
  </div>
</nav>
