  <div class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item">
       <img class="brand" src="../../assets/images/catzlogo.png">
      </a>
    </div>

<!-- menu-->
<div class="navbar-menu">
<div class="navbar-end">
  <a class="navbar-item" routerLink="/">Home</a>
  <a class="navbar-item" routerLink="/roadmap">Projects</a>
  <a class="navbar-item" routerLink="/about">About</a>
  <a class="navbar-item" routerLink="/contact">Contact</a>
  <a class="navbar-item" routerLink="/contact">Connect</a>
</div>
</div>
</div>

