  <div class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item">
       <img class="brand" src="../../assets/images/catzlogo.png">
      </a>
    </div>
<!-- menu-->
<div class="navbar-menu">
<div class="navbar-end">
  <a class="navbar-item nav-link" routerLink="/">Home</a>
  <a class="navbar-item nav-link" routerLink="/portfolio">Portfolio</a>
  <a class="navbar-item nav-link" routerLink="/about">About</a>
  <a class="navbar-item nav-link" routerLink="/contact">Contact</a>
  <a class="navbar-item nav-link" routerLink="/login">Login</a>
  <a class="navbar-item nav-link" routerLink="/register">Register</a>
  <a class="navbar-item nav-link" routerLink="/mint">Mint</a>
  <a class="navbar-item nav-link" routerLink="/catz-nft">Catz NFT</a>
  <a class="navbar-item nav-link" routerLink="/chaoticnightstudios">Chaotic Night Studios</a>
</div>
</div>
</div>

