.twitter-logo {
  margin-top: 30px;
  width: 50px;
}
.footer-Div {
  text-align: center;
  height: 150px;
}
.footer-container {
  display: flex;
  margin: auto;
}
.footer-text {
  display: block;

  margin: auto;
}
