<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Stay Connected on all the socials
    </p>
    <p class="subtitle">
    </p>
<!-- social panels-->
    <div class="container is-widescreen">
      <div class="notification is-primary">
        <div class="columns">
          <div class="column">
            <p class="bd-notification is-danger"></p>
            <div class="columns is-mobile is-socials">
              <div class="column">

                <figure class="image is-96x96">
                  <a href="https://www.youtube.com/channel/UC2iN3Ti-xZFeUfEsqZlEn2g?sub_confirmation=1"><img src="\..\assets\images\Youtube_logo.png"></a>
                </figure>
              </div>
              <div class="column">

                <figure class="image is-96x96">
                  <a href="https://kick.com/captivatingcatz"><img src="\..\assets\images\Kick_logo.png"></a>

                </figure>
              </div>
              <div class="column">

                <figure class="image is-96x96">
                  <a href=""><img src="\..\assets\images\tiktok_logo.png"></a>

                </figure>
              </div>
              <div class="column">

                <figure class="image is-96x96">
                  <a href=""><img src="\..\assets\images\twitterLogo.png"></a>

                </figure>
              </div>
              <div class="column">

                <figure class="image is-96x96">
                  <a href=""><img src="\..\assets\images\facebook_logo.png"></a>

                </figure>
              </div>
              <div class="column">

                <figure class="image is-96x96">
                  <a href=""><img src="\..\assets\images\discord_logo.png"></a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</section>
