<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Stay Connected on all the socials
    </p>
    <p class="subtitle">
    </p>
<!-- social panels-->
    <div class="container is-widescreen">
      <div class="notification is-primary">
        <div class="columns">
          <div class="column">
            <p class="bd-notification is-danger"></p>
            <div class="columns is-mobile is-socials">
              <div class="column">
                <p class="bd-notification is-danger">Youtube</p>
                <figure class="image is-96x96">
                  <img src="\..\assets\images\Youtube_logo.png">
                </figure>
              </div>
              <div class="column">
                <p class="bd-notification is-danger">Kick</p>
                <figure class="image is-96x96">
                  <img src="\..\assets\images\Kick_logo.png">
                </figure>
              </div>
              <div class="column">
                <p class="bd-notification is-danger">Tik-Tok</p>
                <figure class="image is-96x96">
                  <img src="\..\assets\images\tiktok_logo.png">
                </figure>
              </div>
              <div class="column">
                <p class="bd-notification is-danger">Twitter</p>
                <figure class="image is-96x96">
                  <img src="\..\assets\images\twitterLogo.png">
                </figure>
              </div>
              <div class="column">
                <p class="bd-notification is-danger">Facebook</p>
                <figure class="image is-96x96">
                  <img src="\..\assets\images\facebook_logo.png">
                </figure>
              </div>
              <div class="column">
                <p class="bd-notification is-danger">Discord</p>
                <figure class="image is-96x96">
                  <img src="\..\assets\images\discord_logo.png">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</section>
