.accentBar {
  height: 35px;
  background: rgb(220, 31, 255);
  background: linear-gradient(
    27deg,
    rgb(245, 164, 43) 14%,
    rgb(252, 249, 102) 54%,
    rgb(228, 83, 139) 100%
  );
  text-shadow: 1px 1px 1px white;
  color: black;
  padding: 7px;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
}
