<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">Youtube Content</p>
    <div class="columns is-mobile">
      <div class="column"><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxDRJMgBQevRAbuXWIGsGq8-Kw_UFSRz_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="column"><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxDRJMgBQevR8sPydFHWVaB4Od2j-81SE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="column"><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxDRJMgBQevSvApDfRpRrHr53MOBdaFZ2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
</section>
