
<!-- Accent Bar for Announcements-->
<app-accent-bar></app-accent-bar>
<!-- Navbar Component -->
<app-header></app-header>
<!-- Banner Component -->
<app-banner></app-banner>

<router-outlet></router-outlet>
<!--{Old NFT stuff} <app-content></app-content> -->

<app-recent-content></app-recent-content>

<app-schedule></app-schedule>
<app-social-panel></app-social-panel>

<!--
<app-merch-landing></app-merch-landing>
<app-email-list></app-email-list>
<app-login></app-login>

-->
<app-footer></app-footer>
