
<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Welcome to my in progress development site.
    </p>
    <p class="subtitle">
      Nearly everything at this point is still being implemented i am following a
      very strict set up plan to ensure that i finish all my projects and you just found
      it before i have finished. Welcome thanks for taking peaks nothing found on these sites is considered final.
      The construction is underway my friends.
    </p>
  </div>
</section>

<app-content></app-content>
<app-email-list></app-email-list>






