@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");



  .highlighted-text-shadow {
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px var(--shadow),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
  }

  :root {
    --hue: 320;
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: oklch(25% .2 var(--hue));
    --highlight: oklch(98% .05 var(--hue));
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    block-size: 100%;
    background-color: var(--bg);

  }

  body {
    min-block-size: 100%;
    font-family: system-ui, sans-serif;

    display: grid;
    place-content: center;
    gap: 10vh;
  }

  h1 {
    font-size: 15vi;
    letter-spacing: -.13ch;
    line-height: .75;

  }
  h2 {
    color: white;
    font-size: 3vi;
  }

  small {
    max-inline-size: 30ch;
  }


.hero {
  background-color: black;

  padding-left: 300px;
  padding-top: 150px;
}


#calenderSection, body {
	align-items: center;
	font-family: "Poppins", serif;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
h1 {
	font-weight: 700;
	margin: 1rem 0 0;
  color: rgba(99, 32, 99, 0.76);
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;

	#calenderSection, li {
		display: flex;
		width: 10rem;
		height: 10rem;
		margin: 1rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: rgba(255, 210, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(13, 16, 54, 0.18);
	}

}
