
<section class="section is-medium hero">
  <h2>Merch Store</h2>
  <ul>
    <li>
      <p class="image is-128x128">
        <a href=""><img src="/assets/images/mock-shirt.png"></a>
      </p>
    </li>

    <li>
      <p class="image is-128x128">
        <a href=""><img src="/assets/images/mock-mug.png"></a>
      </p>
    </li>

    <li>
      <p class="image is-128x128">
        <a href=""><img src="/assets/images/mock-sweater.png"></a>
      </p>
    </li>

    <li>
      <p class="image is-128x128">
        <a href=""><img src="/assets/images/catzlogo.png"></a>
      </p>
    </li>

    <li>
      <p class="image is-128x128">
        <a href=""><img src="/assets/images/mock-hat.png"></a>
      </p>
    </li>

    <li>
      <p class="image is-128x128">
        <a href=""><img src="/assets/images/mock-hoodie.png"></a>
      </p>
    </li>

  </ul>
</section>
